*{
    box-sizing: border-box;
    background: darkgray;
}

header {
    text-align: center;
    border-bottom: 2px solid black;
}

section {
    display: flex;
    justify-content: space-between;
    font-size: large;
    line-height: 2em;
    border-bottom: 2px solid black;
}

nav {
    border-right: 2px solid black;
}

img {
    width: 150px;
    height: auto;
}

nav>ul {
    list-style: none; 
}

article {
    height: 75%;
    width: 45%;
    font-size: larger;
    text-indent: 3em;
    padding: 3em;
}

button {
    align-self: flex-end;
    background: hotpink;
    padding: 1em;
    
    border-radius: 8px;
}

footer {

   
    display: fixed;
    text-align: center;
}

